@model List<ModelAutos>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="container">
        <div class="card-header">
            <h1 class="text-center">Informacion General</h1>
            <div class="subtitulo">Lista de Automoviles</div>
        </div>

       <div class="card-body d-flex justify-content-between">
            <a asp-action="GuardarForm" asp-controller="Crud" class="btn btn-success volver">Crear Nuevo</a>
            @*<div class="buscar">
                <a asp-action="Buscar" asp-controller="Crud" id="btnBuscar" runat="server" class="btn btn-success volver">Buscar</a>
                <input type="text" value="buscar" class="p-2" runat="server" style="width:20vw;" />
            </div>*@
            <hr />

        </div>
    </div>

    @* @using (Html.BeginForm("Buscar","Crud")){
    @Html.TextBox("buscar",null)
    <input type="submit" name="name" value="Buscar">
    }*@
    

    <div class="row">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem; margin:15px;">
                    @* <asp:Image ID="imgImagen" runat="server" ImageUrl="images/toyotaEtios.jpg" AlternateText="imagen"/>*@
                    <img src="@item.img" class="card-img-top imagen" alt="imagen" style="margin-top: 20px;">
                    <div class="card-body">
                        <h5 class="card-title h5Card">@item.marca</h5>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Modelo:</strong> @item.modelo</li>
                        <li class="list-group-item"><strong>Patente:</strong> @item.patente</li>
                        <li class="list-group-item"><strong>Precio:</strong> @item.precio</li>
                        <li class="list-group-item"><strong>Descripcion:</strong> <br> @item.descripcion</li>
                    </ul>
                    <div class="card-body text-center">
                        <a asp-action="Editar" asp-controller="Crud" class="btn btn-success btn-sm btncard" asp-route-id="@item.idAuto">Editar</a>
                        <a asp-action="Eliminar" asp-controller="Crud" class="btn btn-success btn-sm btncard eliminar" asp-route-id="@item.idAuto">Eliminar</a>
                    </div>
                </div>
            }
        }

    </div>
</body>

 <footer class="border-top footer text-muted" style="height:8vh; background-color:darkblue; text-align:center;">
        <div class="container footer" style="color: azure;margin-bottom:10px;">
            &copy; 2022 - <strong>Todo Autos  - </strong>
            <a asp-area="Contacto" asp-controller="Crud" asp-action="Contacto" style="color:azure;"><strong>Contacto</strong></a>
        </div>
    </footer>


